version: '3.8'
services:
  node-app:
    container_name: express_node_app_container
    depends_on:
      - mongo
    env_file:
      - ./.env

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    healthcheck:
      test:
        - CMD
        - mongo
        - '--eval'
        - db.adminCommand('ping')
      interval: 5s
      retries: 5
      timeout: 5s

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - '8081:8081'
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    condition: service_healthy
    mongo:
      condition: service_healthy

  redis:
    container_name: redis_container
    image: redis:alpine
    depends_on:
      - node-app
    ports:
      - '6379:6379'
    command:
      - redis-server
      - '--requirepass'
      - mypassword

  nginx:
    container_name: nginx_container
    image: nginx:stable-alpine
    depends_on:
      - node-app
    ports:
      - '80:80'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    environment:
      - NGINX_HOST=foobar.com
      - NGINX_PORT=80

volumes:
  mongo-data:
    driver: local
  redis-data:
    driver: local
