version: '3.8'

services:
  node-app:
    image: menadev123/my-node-app:tagname
    env_file:
      - ./.env
    expose:
      - "4000"          # مهم جداً للـ load balancing
    depends_on:
      - mongo
    networks:
      - app-network     # شبكة مشتركة مع nginx

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    healthcheck:
      test:
        - CMD
        - mongo
        - '--eval'
        - db.adminCommand('ping')
      interval: 5s
      retries: 5
      timeout: 5s
    networks:
      - app-network

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      - mongo
    ports:
      - '8081:8081'
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    networks:
      - app-network

  redis:
    container_name: redis_container
    image: redis:alpine
    ports:
      - '6379:6379'
    command:
      - redis-server
      - '--requirepass'
      - mypassword
    networks:
      - app-network

  nginx:
    container_name: nginx_container
    image: nginx:stable-alpine
    depends_on:
      - node-app
    ports:
      - '80:80'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

volumes:
  mongo-data:
    driver: local

networks:
  app-network:
    driver: bridge
